.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    max-width: 467px;
}

.navigation__link {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;

    transition: 0.4s;
}

.navigation__link:hover {
    color: #F96900;

    transition: 0.4s;
}

.global__button_basket {
    padding: 9px 20px;
}